@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

body {
  background: rgba(0, 0, 0, 1);
}

/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: auto;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #303030;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
  margin: 5px auto;
  width: 100%;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .accordion:hover,
.active {
  background-color: #ccc;
} */

/* Style the accordion content title */
.accordion__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  font-size: clamp(18px, 3vw, 26px);
  text-align: left;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(45deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  color: white;
  background-color: #303030;
  overflow: hidden;
  /* height: 100%; */
  transition: max-height 0.6s ease;
}

/* Style the accordion content text */
.accordion__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-size: clamp(18px, 3vw, 26px);
  padding: 18px;
}

.netflix__Icon {
  width: 30px;
  filter: invert(1);
  margin-left: auto;
}

.addSlim {
  display: block;
}

.netflix__box1 {
  width: 70%;
  margin: auto;
}