div {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    /* animation-name: square;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    animation-play-state: running; */

    animation: square 4s linear 2s infinite alternate backwards running;
}

@keyframes square {
    0% {
        background-color: orangered;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: #e27802;
        left: 500px;
        top: 0px;
    }

    50% {
        background-color: #dddddd;
        left: 500px;
        top: 500px;
        border-radius: 50%;
    }

    75% {
        background-color: #f2d974;
        left: 0px;
    }

    100% {
        background-color: black;
        left: 0px;
        top: 0px;
        border-radius: 0px;
    }
}